<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/home"  href="javascript:void(0)"> PSJS </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive='active' href="javascript:void(0)">
          <span class="sr-only">Home</span>
        </a>
      </li>
      <li  [hidden]='true'  class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li  [hidden]='true'  class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li  [hidden]='true'  class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

    <form class="form-inline  my-2 my-lg-1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown mr-2">
          <a class="nav-link dropdown-toggle" href="#" id="ndProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <!-- {{ this.userName ? this.userName : '---' }} -->
              Juan Armando S.
          </a>
          <div class="dropdown-menu" aria-labelledby="ndProfile">
            <a class="dropdown-item" href="#">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
            (click)='logout($event)'
            href="javascript:void(0)">Logout</a>
          </div>
        </li>
      </ul>
      <input [hidden]='true' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button [hidden]='true' class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>

<main class="container mt-5">
  <router-outlet> </router-outlet>
</main>